<!DOCTYPE html>
<html lang="en">
<head>
    <title>SG Testing Management Platform - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body>


<div class="container">

    <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand" href="#">SG Testing Management Platform</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-menubuilder">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="/">Home</a>
                    </li>
                    <li><a href="/java/test/">Test Overview</a>
                    </li>
                    <li><a href="/java/test/upload">Upload Test</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <h1>Welcome to the Smart Grid Testing Management Platform</h1>
    <h2>Bachelor's Thesis project of Martin Schvarcbacher</h2>

    <a href="/java/test/"><b>Start testing!</b></a>

</div>


</body>
</html>