<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Run Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>


<body>

<div class="container">

    <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand" href="/java">SG Testing Management Platform</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-menubuilder">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="/java/test/">Test Overview</a>
                    </li>
                    <li><a href="/java/test/upload">Upload Test</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <h1>Test Overview</h1>
    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>

    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Enqueue</th>
            <th>View all</th>
        </tr>
        <th:block>
            <th:block th:each="test : ${RunTest.tests} ">
                <tr>
                    <td th:text="${test.testName}"></td>
                    <td th:text="${test.testDescription}"></td>
                    <td><a th:href="@{/java/test/run/{id}(id=${test.id})}">ENQUEUE</a></td>
                    <td><a th:href="@{/java/test/view/{id}(id=${test.id})}">VIEW ALL RUNS</a></td>
                </tr>
            </th:block>
        </th:block>
    </table>

    <div class="form-group">
        &nbsp;
    </div>

    <a th:href="@{/java/test/upload}" class="btn btn-default ">Upload new Test definition</a>

</div>
</body>
</html>